body {
  box-sizing: border-box;
  background-color: #28679c;
}
form {
  width: 600px;
  background-color: #13b1e5;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  box-shadow: 0 0 5px;
}
form #only {
  width: 450px;
  height: 40px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: rgb(228, 222, 222);
}
form #btn {
  background-color: #1c07ff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}
.tasks {
  width: 600px;
  margin: 20px auto 0;
  background-color: #13b1e5;
  padding: 20px 30px;
  border-radius: 6px;
  box-shadow: 0 0 5px;
}
.del {
  background-color: #6d80eb;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
.myDiv {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(228, 222, 222);
  border-radius: 5px;
  box-shadow: 0 0 15px;
}
.done {
  opacity: 0.5;
}
.clear {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #1c07ff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  width: 150px;
  text-align: center;
  visibility: hidden;
}
